/* CSS Document */

html, body {

	min-height: 100%;

	width: 100%;

	height: 100%;

}



/*

 * The "height" above is a hack for IE5+/Win.  Below we adjust

 * it using the child selector to hide from IE5+/Win

 */



html>body, html>body #contents {

	height: auto;

}

body { 

padding:0;

margin:0;

background:#3F46A4; 

color:#fff; 

font: .7em/1.4em "Lucida Grande", "Trebuchet MS", Verdana, Arial, sans-serif;


}



#header {

height:75px;

background-color:#2a3135;

}

#rightimg {

margin:0;

padding:0;

float:right;
height:75px;
}

#leftimg {

margin:0;

padding:0;

float:left;
height:75px;
}


#navtop {

background-color:#42494a;

position:absolute;

top:0;

right:80px;

font-size:11px;

font-family:"Lucida Grande", "Trebuchet MS", Verdana, Arial, sans-serif;

color:#B5BEC0;

padding:4px 10px 4px 10px;

}

#navtop a ,#navtop a:visited ,#navtop a:active {

text-decoration:none;

color:white;

}

#navtop a:hover {

text-decoration:underline;



}

#menus {

background-color:transparent;

background-repeat:repeat-x;

clear:right;

height:27px;

margin:0px 0px 32px 0px;

padding:0;

background-position:right;

font:11px  "Lucida Grande", "Trebuchet MS",Verdana, Arial, sans-serif;

background-image:url(../img/menu2.gif);



}



#menus h2 { display: none; visibility: hidden; }

#menus ul {

	padding: 0;

	margin: 0px 0px 0px 30px;

	list-style-type: none;
	overflow:hidden;
	

	

}



#menus li {   float:left; margin:0; padding:0; }

#menus li.active {  }

#menus li a { display:block; width:90px; height:27px; color: #efefef;  text-decoration:none; border-right:1px solid #292c31; }

#menus li a:hover, #menu li.active {  color:#ffd700; background-color:#313839;}

#menus li a:active { background-color:#313839;  }



#box1 {

margin:0px 0px 20px 3.4em;

padding:0;

}

#sidebar {

float: left;

clear: left;

border:0px;

width:18.3em;
z-index:1;

}



#box2 {

margin:0px 0px 20px 3.4em;

padding:0;



}

#box1 ul {

margin:0;

padding:0px 0px 10px 0px;

list-style-type:none;

background-color:#394142;

}

#box1 li {

display:block;

padding:2px 2px 2px 8px;

width:14em;

}

#box2 ul li#title {

color:#ffffff;

}

#box2 ul {

margin:0;

padding:0px 0px 10px 0px;

list-style-type:none;

background-color:#394142;

}

#box2 li {

display:block;

padding:2px 2px 2px 8px;

width:14em;

color:#B5BEC0;

}

#title {

background-color:#313839;

height:20px;

line-height:20px;

margin:0px 0px 10px 0px;

color:#FFFFFF;

font-weight:bold;
text-align:center;
}



#box2 li#newsletter {

background-color:#394142;

padding:2px 2px 2px 2px;

vertical-align:middle;

}

#newsletter input#news_email {

	border: 1px solid black;

	color:black;

	font-size:12px;

	font-family:Verdana, Arial, Helvetica, sans-serif;

}

#menuitem {

list-style-type:none;

display:block;

width:14em;

text-align:left;

color:#FFFFFF;

}

#menuitem a {

text-decoration:none;

color:#FFFFFF;

}

#footer {

background-color:#2a3135;

height:50px;

width:100%;

margin:0;



left:0px;

}



#content {

color: white;

text-align: justify;

line-height: 1.7em;

margin:0px 0px 0px 20em;

padding:0px 20px 20px 0px;

font-family:Verdana, Arial, Helvetica, sans-serif;

font-size:3.1mm;

}

#content h1 {

color:#B5BEC0;

font-family:Verdana, Arial, Helvetica, sans-serif;

font-size:14px;

line-height:22px;

font-weight:bold;

display:block;

border-bottom: 2px solid #292c31;

vertical-align:top;

margin:0px;

}

#content h3 {

color:white;

font-size:11px;

font-weight:bold;

}
#content h2 {
color:white;

font-size:10px;

font-weight:bold;


}
#content table {

padding:8px 3px 8px 3px;

margin:6px 0px 6px 0px;

border:0;

}

#content a {

color:#B5BEC0;

}
#content a#nou {
color:#B5BEC0;
text-decoration:none;
}
#content a.lookback {

color:white;

font-size:12px;

font-weight:bold;

text-decoration:none;

}

#content img.sponsors

 {

	margin: 5mm 3px 5mm 3px;

	font: 11px verdana;

	color:#ffffff;

 }	
#contact {
color:white;
font-size:10px;
font-weight:bold;
margin:20px 0px 0px 0px;
}







#footer {
color: #7B858A;

background-color:#313839;

margin: 0;

padding: .5em 0mm 1ex 0em;

clear: both;

width:100%;

height:2.2em;

}



#footer .right {

line-height: 1.1em;

float: right;

clear: right;

margin:0px 1em 0px 2px;

}

#footer .left {

line-height: 2.2em;
float: left;
clear: left;
margin:0px 2px 0px 1em;

}

#footer .center {

text-align:center;
line-height: 2.2em;

}



#footer a {

color:#FFffff;
background-color: transparent;
text-decoration: none;
}

#footer a:hover {

text-decoration:underline;

}

.ypcontainer {z-index:500;visibility:hidden;position:relative; padding:2px 0px 2px 0px;width:auto;}
.ypcontents {position: relative; text-align:left;width:auto;}
.menu a{color:#fff;text-decoration:none;width:auto;}
.menu a:hover{text-decoration:underline;color:#84BB45}
.menu a:visited {color: #ccc;text-decoration: none}
.menu{background:#313839; border-left:dashed 0px #ffffff}
.islide{margin:8px 11px 8px; z-index:200; width:auto; padding:0 0 2px 0;font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#84BB45; text-align:left}
.dizz{display:none}
option{z-index:100}






